[report]
omit =
    */python?.?/*
    */.pytest_cache/*
    */__pycache__/*
    *.pyc
    */venv/*
    */__init__.py
    tests.py/*
    */models.py
    */helpers.py
    */message_controller.py
    */message.py
    */test_message.py