body{
    font-family: Arial, Helvetica, sans-serif;
}


.header-container{
    padding-left: 20px;
    background-color:LightGray
}
.footer-container{
    margin-top: 100px;
    text-align: center;
    padding: 20px;
    background-color: LightGray;
    font-family: 'Times New Roman';
}
.header-content{
    padding:10px;
}
.epic{
    font-variant: small-caps;
    font-size: 25px;
    color: red;
}
.mail{
    color: rgb(0, 38, 255);
}
.forgot_link{
    text-decoration: none;
    font-style: bold;
    font-size: 18px;
    color:rgb(0, 38, 255);
}
#navbar{
    margin-bottom: 100px;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
  }
  
  #navbar li {
    float: left;
  }
  
  #navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #navbar li a:hover {
    background-color: #111;
  }

  #navbar .active{
    background-color: #4CAF50;
  }

  .login_div {
      width: 300px;
      height: 250px;
      margin:auto;
      border: none;
      padding: 20px;
      background-color: #f2f2f2;
      padding: 20px;
      border-radius: 5px;
}
.reset_div img{
    height: 50px;
    width:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.send_email_div {
  width: 300px;
  height: 340px;
  margin:auto;
  border: none;
  padding: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}
.send_email_form {
  width: 300px;
  height: 400px;
  background:powderblue;
  border-radius: 10px;
  margin: 0;
  padding: 0;
}
.register_div {
    width: 300px;
    height: 350px;
    margin:auto;
    border: none;
    padding: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}
.reset_div {
    width: 300px;
    height: 350px;
    margin:auto;
    border: none;
    padding: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}
.login_form {
    width: 300px;
    height: 300px;
    background:powderblue;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.reset_form {
    width: 300px;
    height: 300px;
    background:powderblue;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
.register_form {
    width: 300px;
    height: 300px;
    background:powderblue;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=reset] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
input[type=submit]:hover {
    background-color: #45a049;
  }
  #home_nav{
    margin-bottom: 100px;
}
#home_nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
  }
  
  #home_nav li {
    float: left;
  }
  
  #home_nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #home_nav li a:hover {
    background-color: #111;
  }

  #home_nav .active{
    background-color: #4CAF50;
  }
  #home_nav .create{
    background-color:red;
  }

  textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }